      <header>
          <div class="secondary-menu">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-7 offset-xl-5 col-lg-9 offset-lg-3 col-12">
                          <ul>
                              <li>
                                  <span>
                                      Nosotros
                                      <ul>
                                          <li><a [routerLink]="['/nosotros']" >Acerca de nosotros</a></li>
                                          <li><a [routerLink]="['/convenios']" >Convenios</a></li>
                                      </ul>
                                  </span>
                              </li>
                                                     
                              <li><a  [routerLink]="['/preguntas-frecuentes']" >Preguntas frecuentes</a></li>
                              <li><a  [routerLink]="['/blog']" >Blog</a></li>
                              <li><a href="">Gama ecológica</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="primary-menu">
              <div class="container desktop">
                  <ul>
                      <li>
                          <span>Previsión
                              <ul>
                                  <li><a [routerLink]="['/', 'que-es-plan-prevision']">¿Qué es un plan previsión?</a></li>
                                  <li><a [routerLink]="['/', 'plan-prevision']">Planes de Previsión</a></li>
                              </ul>
                          </span>
                      </li>
                      <li>
                          <span>Uso inmediato
                              <ul>
                                  <li><a [routerLink]="['/', 'uso-inmediato']">Uso inmediato</a></li>
                                  <li><a [routerLink]="['/tanatologia']">Tanatología</a></li>
                                  <li><a href="">Productos</a></li>
                              </ul>
                          </span>
                      </li>
                      <li>
                          <a href="productos.php">Productos</a>
                      </li>
                      <li>
                          <a [routerLink]="['/', 'obituario']">Obituarios</a>
                      </li>
                      <li>
                          <a [routerLink]="['/tanatologia']">Tanatología</a>
                      </li>
                      <li>
                          <span>Florería
                              <ul>
                                  <li><a href="floreria.php">Ciudad de México</a></li>
                                  <li><a href="floreria.php">Estado de México</a></li>
                                  <li><a href="floreria.php">Guadalajara</a></li>
                                  <li><a href="floreria.php">León</a></li>
                                  <li><a href="floreria.php">Mexicali</a></li>
                                  <li><a href="floreria.php">Monterrey</a></li>
                                  <li><a href="floreria.php">Morelia</a></li>
                                  <li><a href="floreria.php">Reynosa</a></li>
                                  <li><a href="floreria.php">Tijuana</a></li>
                                  <li><a href="floreria.php">Torreón</a></li>
                              </ul>
                          </span>
                      </li>
                      <li><a href="aquamacion.php">Acuamación</a></li>
                      <li><a href="">Inmemori</a></li>
                      <li> 
                          <span>Venta en línea
                              <ul>
                                  <li><a href="">Planes de Previsión Funeraria</a></li>
                                  <li><a href="">Florería</a></li>
                                  <li><a href="">Servicios adicionales</a></li>
                              </ul>
                          </span>
                      </li>
                      <li>
                          <div class="search">
                              <a href="">
                                  <i class="fas fa-search"></i>
                                  <i class="fas fa-times"></i>
                              </a>
                              <div class="input-wrap">
                                  <input type="text" class="border-input">
                                  <button><i class="fas fa-search"></i></button>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="cart">
                              <a href="carrito.php">
                                  <i class="fas fa-shopping-cart"></i>
                                  <span class="notification">3</span>
                              </a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </header>